In [5]:
from pymongo import MongoClient

In [6]:
myclient = MongoClient("mongodb://localhost:27017/")

In [7]:
mydb = myclient["titanic"]

In [26]:
print(myclient.list_database_names())

['admin', 'config', 'local']

In [9]:
test_col = mydb["test"]
train_col = mydb["train"]

In [19]:
print(mydb.list_collection_names())

['test', 'train']

In [ ]:
test_list = [
    { 
        'survival':'row1',
        'pclass':'row1',
        'sex':'row1',
        'Age':'row1',
        'sibsp':'row1',
        'parch':'row1',
        'ticket':'row1',
        'fare':'row1',
        'cabin':'row1',
        'embarked2':'row1',
    },
    { 
        'survival':'row2',
        'pclass':'row2',
        'sex':'row2',
        'Age':'row2',
        'sibsp':'row2',
        'parch':'row2',
        'ticket':'row2',
        'fare':'row2',
        'cabin':'row2',
        'embarked2':'row2',
  },
]


train_list = [
    { 
        'survival':'row1',
        'pclass':'row1',
        'sex':'row1',
        'Age':'row1',
        'sibsp':'row1',
        'parch':'row1',
        'ticket':'row1',
        'fare':'row1',
        'cabin':'row1',
        'embarked2':'row1',
    },
    { 
        'survival':'row2',
        'pclass':'row2',
        'sex':'row2',
        'Age':'row2',
        'sibsp':'row2',
        'parch':'row2',
        'ticket':'row2',
        'fare':'row2',
        'cabin':'row2',
        'embarked2':'row2',
  },
]

In [ ]:
insert_test_col = test_col.insert_many(test_list)
insert_train_col = train_col.insert_many(train_list)

In [ ]:
print(myclient.list_database_names())

In [ ]:
print(mydb.list_collection_names())

### `find({query}, {projection})` - метод, позволяющий вывести только те документы и проекции, которые подпадают под условие. Аналогичен связке операторов `SELECT` и `WHERE` в `SQL`

### Выведем все документы в коллекции

In [23]:
for doc in train_col.find():
    print(doc)

{'_id': ObjectId('5c9e78b33ee13d822b2df827'), 'survival': 'row1', 'pclass': 'row1', 'sex': 'row1', 'Age': 'row1', 'sibsp': 'row1', 'parch': 'row1', 'ticket': 'row1', 'fare': 'row1', 'cabin': 'row1', 'embarked2': 'row1'}
{'_id': ObjectId('5c9e78b33ee13d822b2df828'), 'survival': 'row2', 'pclass': 'row2', 'sex': 'row2', 'Age': 'row2', 'sibsp': 'row2', 'parch': 'row2', 'ticket': 'row2', 'fare': 'row2', 'cabin': 'row2', 'embarked2': 'row2'}

In [24]:
for doc in test_col.find():
    print(doc)

{'_id': ObjectId('5c9e78b33ee13d822b2df825'), 'survival': 'row1', 'pclass': 'row1', 'sex': 'row1', 'Age': 'row1', 'sibsp': 'row1', 'parch': 'row1', 'ticket': 'row1', 'fare': 'row1', 'cabin': 'row1', 'embarked2': 'row1'}
{'_id': ObjectId('5c9e78b33ee13d822b2df826'), 'survival': 'row2', 'pclass': 'row2', 'sex': 'row2', 'Age': 'row2', 'sibsp': 'row2', 'parch': 'row2', 'ticket': 'row2', 'fare': 'row2', 'cabin': 'row2', 'embarked2': 'row2'}

### Выведем все документы с проекцией на `survival` и `pclass`

In [ ]:
for doc in train_col.find({},{'_id':0, 'survival':1, 'pclass':1}):
    print(doc)

In [ ]:
for doc in test_col.find({},{'_id':0, 'survival':1, 'pclass':1}):
    print(doc)

### Выведем всех, кто старше 20 лет

In [ ]:
query = { "Age": { "$gt": 20 } }

docs_test = test_col.find(query)
docs_train = train_col.find(query)

for doc in docs_test:
    print(doc)
    
for doc in docs_train:
    print(doc)

### Удалим всех, кто младше 10 лет в `test_col` и младше 15 лет в `train_col`

In [ ]:
query_1 = { "Age": { "$lt": 10 } }
test_col.delete_many(query_1)


query_2 = { "Age": { "$lt": 15 } }
train_col.delete_many(query_2)

### Выведите на экран обе коллекции

In [22]:
cursor = test_col.find({})
for document in cursor: 
    print(document)
    
cursor = train_col.find({})
for document in cursor: 
    print(document)

{'_id': ObjectId('5c9e78b33ee13d822b2df825'), 'survival': 'row1', 'pclass': 'row1', 'sex': 'row1', 'Age': 'row1', 'sibsp': 'row1', 'parch': 'row1', 'ticket': 'row1', 'fare': 'row1', 'cabin': 'row1', 'embarked2': 'row1'}
{'_id': ObjectId('5c9e78b33ee13d822b2df826'), 'survival': 'row2', 'pclass': 'row2', 'sex': 'row2', 'Age': 'row2', 'sibsp': 'row2', 'parch': 'row2', 'ticket': 'row2', 'fare': 'row2', 'cabin': 'row2', 'embarked2': 'row2'}
{'_id': ObjectId('5c9e78b33ee13d822b2df827'), 'survival': 'row1', 'pclass': 'row1', 'sex': 'row1', 'Age': 'row1', 'sibsp': 'row1', 'parch': 'row1', 'ticket': 'row1', 'fare': 'row1', 'cabin': 'row1', 'embarked2': 'row1'}
{'_id': ObjectId('5c9e78b33ee13d822b2df828'), 'survival': 'row2', 'pclass': 'row2', 'sex': 'row2', 'Age': 'row2', 'sibsp': 'row2', 'parch': 'row2', 'ticket': 'row2', 'fare': 'row2', 'cabin': 'row2', 'embarked2': 'row2'}

### Удалим нашу БД

In [25]:
myclient.drop_database("titanic")